<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 20px auto;
        }
        .header {
            background-color: #3498db;
            color: white;
            text-align: center;
            padding: 10px;
            border-radius: 8px 8px 0 0;
        }
        .container {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 0 0 8px 8px;
            background-color: #f8f8f8d0;
        }
        .message {
            margin-top: 10px;
        }
        .footer {
            margin-top: 20px;
            color: #95a5a6;
        }
        .logo {
            text-align: center;
            margin-top: 20px;
        }

        .logo img {
            width:80px;
            height: 80px;
        }
    </style>
    
</head>
<body>
    <div class="header">
        <h1>Thanks for Registering!</h1>
         <div class="logo">
            <img src="https://i.ibb.co/Fx6WgnK/pngwing-com.png">
        </div>
    </div>
    <div class="container">
        <p>Dear Applicant,</p>
        <p>
        Thank you for registering for {{notificationText}}with Digital Examination! We are thrilled to have you on board.</p>

        <p>Your account is now set up, and you are all ready to explore our platform. Here are some key details:</p>

        <ul>
            <li><strong>Email:</strong> {{email}}</li>
            <li><strong>RegisterNumer:</strong> {{registernumber}}</li>
             <li><strong>Exam Date:</strong> {{exam_date}}</li>
             <li><strong>Start Time:</strong> {{StartTime}}</li>
            <li><strong>End Time:</strong> {{ EndTime}}</li>

        </ul>
        {{!-- <div class="message">
    <p>Furthermore, we are pleased to announce that the link to your upcoming exam is now available. Here are the details:</p> 
    <p>Please make sure to click on the provided link at the scheduled time to begin your examination.</p>
</div> --}}

        <div class="message">
            <p>Please keep this information secure and do not share it with anyone. You can use these credentials to access your account and enjoy our services.</p>
        </div>

        <div class="message">
            <p>Furthermore, we are pleased to announce that the link to your upcoming exam is now available. Here are the details:</p> 
                <li><strong>Exam Link:</strong> <a href="{{exam_link}}">{{exam_link}}</a></li>
            </ul>
            <p>Please make sure to click on the provided link at the scheduled time to begin your examination.</p>
        </div>

        <p>Best of luck with your exam! We believe in your success.</p>

        <p>Once again, congratulations, and thank you for choosing Digital Examination. 🎉</p>

        <p>Best regards,<br>
        Digital Examination Administration</p>
    </div>
    {{!-- <script src="script.js"></script> --}}
    
</body>
</html>